@media screen and (max-width: 600px) {
  .image-header {
    margin-top: 0;
  }

  .search-input {
    padding: 5px 10px;
    margin: 5px;
    width: 100%;
  }

  .search-select {
    width: 100%;
  }

  .Portfolio-section2 {
    width: 100%;
  }

  /* TRIP */

  .trip-results {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .container-trip {
    width: 100%;
    margin: 15px auto;
  }
}
